<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Baby Academy </title>
    <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Raleway:100,500,600,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./style.css">
  </head>

  <body>

    <header>
      <div class="banner">
        <h1 id="title">Baby <a class="yellow">Academy<a> </h1>
        <h2 id="subtitle"> Every child has genius potential. </h2>
      </div>
    </header>

    <nav class="menu">
      <ul>
        <li><a href=#>About Us</a></li>
        <li><a href=#>How it Works</a></li>
        <li><a href=#>Blog</a></li>
        <li><a href=#>Contact</a></li>
      </ul>
    </nav>

    <div class="how-it-works">
      <h2> Providing parents <strong>the</strong> tools to help their children develop faster and smarter in a proven way.<br>Inspired by <a href="https://www.domaninternational.org/blog/what-is-the-doman-method-by-spencer-doman">The Doman Method.</a> </h2>
      <h2 class="button"> Get started </h2>
    </div>
  </body>


  <footer>
    <div class="copyright">
      <h2> Copyright BabyAcademy </h2>
    </div>
  </footer>

</html>
